/* debug */
/* $gray_3: yellow; */
/* $gray_6: green; */
/* $gray_8: blue; */
/* $gray_d: lime; */
/* $gray_e6: red; */
/* $gray_fa: blue; */
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit .sui-modal.pstoolkit-welcome-step1 .sui-modal-content .sui-box-header {
  padding-top: 60px;
  padding-bottom: 5px;
}
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit .sui-modal .sui-box .sui-box-footer.pstoolkit-welcome-footer-close {
  padding-top: 10px;
  padding-bottom: 30px;
}
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit .sui-modal .sui-box .sui-box-footer.pstoolkit-welcome-footer-close .sui-form-field {
  line-height: 13px;
}
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit .sui-modal .sui-box .sui-box-footer.pstoolkit-welcome-footer-close .sui-form-field a {
  color: #888;
  font-size: 13px;
  font-weight: normal;
}
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit.no-pstoolkit .pstoolkit-welcome-step1 #pstoolkit-welcome .sui-box {
  background-image: none;
  padding-bottom: 0;
}
body.pstoolkit-admin-page .sui-wrap.sui-wrap-pstoolkit.no-pstoolkit .pstoolkit-welcome-step2 #pstoolkit-welcome .sui-box .sui-box-header {
  background-image: none;
  padding-top: 60px;
}
body .pstoolkit-welcome-step1 #pstoolkit-welcome .sui-box {
  padding-bottom: 160px;
  background-image: url(../images/pstoolkit/happy@2x.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 127px 163px;
}
body .pstoolkit-welcome-step1 #pstoolkit-welcome .sui-box .sui-box-footer {
  padding-bottom: 20px;
}
body .pstoolkit-welcome-step1 #pstoolkit-welcome .sui-box .sui-box-footer .sui-modal-close {
  text-transform: none;
  border: 0;
}
body .pstoolkit-welcome-step1 #pstoolkit-welcome .pstoolkit-welcome-footer-step2 {
  display: none;
}
body .pstoolkit-welcome-step2 #pstoolkit-welcome .sui-box .sui-box-header {
  background-image: url(../../assets/images/pstoolkit/circle-thumb@2x.png);
}
body .pstoolkit-welcome-step2 #pstoolkit-welcome .sui-box-footer .sui-actions {
  margin-left: auto;
  margin-right: auto;
}
body .pstoolkit-welcome-step2 #pstoolkit-welcome .sui-box-body .sui-row {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 30px;
}
body .pstoolkit-welcome-step2 #pstoolkit-welcome .pstoolkit-welcome-footer-step1 {
  display: none;
}
