.pstoolkit-admin-page {
  border: 1px solid #99f59a;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit {
  border: 1px solid #443726;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-author-box-author-box-php {
  border: 1px solid #f38a1a;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-author-box-author-box-php .pstoolkit-social-logos-main-container {
  border: 1px solid #b53bba;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-author-box-author-box-php .pstoolkit-social-logos-main-container .sui-icon-drag {
  border: 1px solid #dcd363;
  font-size: 20px;
}
