/* debug */
/* $gray_3: yellow; */
/* $gray_6: green; */
/* $gray_8: blue; */
/* $gray_d: lime; */
/* $gray_e6: red; */
/* $gray_fa: blue; */
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-utilities-images-php .pstoolkit-images-subsites .simple-option-media {
  margin: 14px 0;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-utilities-images-php .pstoolkit-images-subsites .simple-option-media .ub-delete-image {
  padding-top: 27px;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-utilities-images-php .pstoolkit-section-images .simple-option-checkbox {
  margin-bottom: 0;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-utilities-images-php .pstoolkit-section-images .pstoolkit-images-images-override {
  margin-left: 43px;
}
.pstoolkit-admin-page .sui-wrap-pstoolkit .module-utilities-images-php.pstoolkit-single .pstoolkit-section-favicon label.sui-label {
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  margin-bottom: 5px;
}
